{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["> 1%"]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ],
    "@babel/react"
  ]
}
